@model CCA.ViewModels.Users.AllUsersViewModel
@{
    ViewData["Title"] = "AllUsers";
}
<main class="mt-3 mb-5">
    <div class="container-fluid text-center">
            <h1>All Users</h1>
            <img src="~/images/zahir-accounting-software-have-more-than-60.000-users.png" width="650" />
    </div>
    <hr class="hr-2 bg-dark" />
    @if (Model.Users.Count > 0)
    {
        <div class="container-fluid product-holder">
            @{
                int rows = (Model.Users.Count / 5);
            }
            @if (Model.Users.Count % 5 != 0)
            {
                rows++;
            }
            @for (int row = 0; row < rows; row++)
            {
                <div class="row d-flex justify-content-around mb-4">
                    @for (int col = 0; col < 5; col++)
                    {
                        int currentIndex = col + (row * 5);
                        if (Model.Users.Count == currentIndex)
                        {
                            break;
                        }
                        @await Html.PartialAsync("_UsersPartial", Model.Users.ToList()[currentIndex])
                    }
                </div>
            }
        </div>
    }
    else
    {
        <p>There are no users in the database!</p>
    }
</main>