@model CCA.ViewModels.Students.LoggedInViewStudent
@{
    ViewData["Title"] = "AllStudents";
}

<main class="mt-3 mb-5">
    <div class="container-fluid text-center">
       
            <h1>All Students</h1>
     
    </div>
    <hr class="hr-2 bg-dark" />
    @if (Model.Student.Count > 0)
    {
        <div class="container-fluid product-holder">
            @{
                int rows = (Model.Student.Count / 5);
            }
            @if (Model.Student.Count % 5 != 0)
            {
                rows++;
            }

            @for (int row = 0; row < rows; row++)
            {
                <div class="row d-flex justify-content-around mb-4">
                    @for (int col = 0; col < 5; col++)
                    {
                        int currentIndex = col + (row * 5);
                        if (Model.Student.Count == currentIndex)
                        {
                            break;
                        }
                        @await Html.PartialAsync("_StudentsPartial", Model.Student.ToList()[currentIndex])
                    }
                </div>
            }
        </div>
    }
    else
    {
        <p>There are no students in the database!</p>
    }


</main>
