
@{
    ViewData["Title"] = "Art And Design";
}
<main>
    <link href="~/css/Designers.css" rel="stylesheet" />

    <h1 class="text-center font-weight-bold">Graduate Diploma Art & Design </h1>


    <div class="row">
        <div class="column">
            <div class="list-group">
                <a class="list-group-item">Programme Description</a>
                <a class="list-group-item">Entrance Requirements</a>
                <a class="list-group-item">School of Arts & Humanities</a>
                <a class="list-group-item">School of Architecture</a>
                <a class="list-group-item">School of Communication</a>
                <a class="list-group-item">School of Design</a>
                <a class="list-group-item">Tuition fees</a>
                <a class="list-group-item" asp-controller="Home" asp-action="Contact">Contact</a>
                <a class="list-group-item">Apply</a>

            </div>
        </div>

        <div class="column">
            <iframe width="850" height="442"
                    src="https://www.youtube.com/embed/8iloTcgzrZo?autoplay=1"></iframe>
        </div>

    </div>
    <hr />
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                The Graduate Diploma Art & Design prepares students for Master’s study in Art and Design.
                The programme focuses on developing proficiency in the discursive languages and independent
                learning methods and practices of art and design, and on introducing students to the role and
                influence of art and design in the world today.
            </p>

        </div>
    </div>
    <img src="~/images/fine-art-wallpapers-21.jpg" width="1110" />
</main>



