@{
    ViewData["Title"] = "Ceramics And Glass";
}

<main>
    <link href="~/css/Designers.css" rel="stylesheet" />
    <h1 class="text-center font-weight-bold">Ceramics & glass</h1>
    <div class="row">
        <div class="column">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" href="#list-item-1">Programme Description</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Entrance Requirements</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Ceramics & Glass Staff </a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Facilities </a>
                <a class="list-group-item list-group-item-action" href="#list-item-5">School of Arts & Humanities</a>
                <a class="list-group-item list-group-item-action" href="#list-item-6">Funding, Scholarships & Bursaries </a>
                <a class="list-group-item list-group-item-action" href="#list-item-7">Tuition fees</a>
                <a class="list-group-item" asp-controller="Home" asp-action="Contact">Contact</a>
                <a class="list-group-item list-group-item-action" href="#list-item-8">Apply</a>
            </div>
        </div>
        <div class="column">
            <iframe width="850" height="442"
                    src="https://www.youtube.com/embed/7dEiIWTK7UY?autoplay=1"></iframe>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-10 col-lg-9 col-xl-6 mb-r">
            <div class="card card-body mb-3">
                <div class="media d-block d-md-flex">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="font-weight-bold" id="list-item-1">Programme Description</h5>
                        <h6>
                            First Year
                        </h6>
                        <p>
                            During the first year of the Programme students undertake three units of study: Unit 1A, 
                            Unit 1B and Critical & Historical Studies (CHS). These units are each worth 40 credits and
                            assessed through a combination of continuous and summative assessment methods. To support 
                            their progress in Units 1A and 1B, students are assigned a personal tutor with whom they
                            discuss their work in tutorials twice a term. Students will also be guaranteed tutorials 
                            from other members of the Programme team each term, and will have the opportunity to request
                            tutorials from other staff on the school and a broader range of visiting tutors. Although
                            working primarily on their own practice, there are also throughout the year group critiques, 
                            seminars, lectures, workshops and tutorials with other members of the Programme team and more 
                            widely with staff and students from throughout the broader school......
                        </p>
                    </div>
                </div>
            </div>
            <div class="card card-body mb-3">
                <div class="media d-block d-md-flex">
                    <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                        <h4 id="list-item-3" class="font-weight-bold">Ceramics and Glass Staff</h4>
                        <p>
                            All of the College’s academic staff are practitioners in art, design or related disciplines. 
                            We also attract some of the most eminent artists, designers, intellectuals and business people working 
                            in their fields to give seminars, lectures, masterclasses, crits and individual tutorials.
                        </p>
                        <p class="font-weight-bold">
                            Dean of School
                        </p>
                        <p>
                            >> Professor Juan Cruz
                        </p>
                        <p class="font-weight-bold">
                            Programme Leader
                        </p>
                        <p>
                            >>Professor Rebecca Harvey

                        </p>
                        <p class="font-weight-bold">
                            Senior Tutors
                        </p>
                        <p>
                            >> Felicity Aylieff, Dr Steve Brown
                        </p>
                        <p class="font-weight-bold">
                            Tutors
                        </p>
                        <p>
                            >>Annie Cattrell, Heike Brachlow
                        </p>
                        <p class="font-weight-bold">
                           Visiting Tutor
                        </p>
                        <p>
                            >> Michael Raw
                        </p>
                        <hr />

                    </div>
                </div>
            </div>
            <div class="card card-body">
                <div class="media d-block d-md-flex">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h4 id="list-item-7" class="font-weight-bold">Tuition Fees</h4>
                        <a asp-controller="Courses" asp-action="Fees">Fees..</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-lg-9 col-xl-6">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                        <div class="media-body ml-md-3 ml-0">
                            <h4 id="list-item-4" class="font-weight-bold">Facilities</h4>
                            <h5>School of Arts & Humanities</h5>
                            <p>
                                The School of Arts & Humanities programmes provide all students on fine or applied arts 
                                Programmes with studio and workshop space. There are a number of bookable seminar and project
                                spaces across the site available to all Arts & Humanities programmes and students.
                            </p>
                        </div>
                    </div>

                    <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                        <div class="media-body ml-md-3 ml-0">
                            <h4 id="list-item-8" class="font-weight-bold">Apply</h4>
                            <p>
                                Online Applications
                                All applications are to be submitted via the CCA Online Applications website.
                            </p>
                        </div>
                    </div>
                    <hr />
                    <h4 id="list-item-6" class="font-weight-bold">Funding, Scholarships & Bursaries</h4>
                    <h5>>> Explore your funding options</h5>
                    <p>
                        Applicants to the CCA from England and the EU are likely to be eligible for the new Postgraduate Student Loan of up to £10,000 per course of study. 
                        See Tuition Fees for a breakdown of costs for Home and Overseas students on each of our degrees.
                        Students should estimate the cost of living in London at £12,000–£15,000 per year. 
                        For further information on funding visit Financial Help, or email student-support@rca.ac.uk.
                        If you are from the USA you should note that the Royal College of Art is designated as an eligible institution for American students to apply for a Guaranteed Student Loan under the new Direct Loan Program. The RCA's School Code is 00942300.
                    </p>
                    <hr />
                    <div class="media d-block d-md-flex">
                        <div class="media-body mr-md-3 mr-0">
                            <h4 id="list-item-2" class="font-weight-bold">Entrance Requirements</h4>
                            <p>
                                A good undergraduate degree in Ceramics or Glass or equivalent professional experience.
                                Applications are welcomed from candidates from related backgrounds, for example,
                                textiles, sculpture, architecture and industrial design.
                                Work experience, either before or after a first degree, is a great advantage.
                                Students are selected on the basis of their talent, ambition and will to succeed as well as for their potential to contribute to the breadth and vitality of the Programme.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-body">
                <div class="media d-block d-md-flex">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">

                        <h4 id="list-item-5" class="font-weight-bold">Contact Us</h4>
                        <a asp-controller="Home" asp-action="Contact">Contacts..</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
<img src="~/images/Ultra-LIthium-ULI-TSX-V-Lithium-0003.jpg" width="1110" />
</main>
