
@{
    ViewData["Title"] = "City Design";
}

<main>
    <link href="~/css/Designers.css" rel="stylesheet" />

    <h1 class="text-center font-weight-bold">City Design </h1>

    <div class="row">
        <div class="column">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" href="#list-item-1">Programme Description</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Entrance Requirements</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">City Design Staff </a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Facilities</a>
                <a class="list-group-item list-group-item-action" href="#list-item-5">School of Architecture</a>
                <a class="list-group-item list-group-item-action" href="#list-item-6">Funding, Scholarships & Bursaries</a>
                <a class="list-group-item list-group-item-action" href="#list-item-7">Tuition fees</a>
                <a class="list-group-item" asp-controller="Home" asp-action="Contact">Contact</a>
                <a class="list-group-item list-group-item-action" href="#list-item-8">Apply</a>

            </div>
        </div>
        <div class="column">
            <iframe width="850" height="442"
                    src="https://www.youtube.com/embed/IFjD3NMv6Kw?autoplay=1"></iframe>
        </div>

    </div>
    <hr />
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-10 col-lg-9 col-xl-6 mb-r">

            <!--Panel-->
            <div class="card card-body mb-3">
                <div class="media d-block d-md-flex">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="font-weight-bold"  id="list-item-1">Programme Description</h5>
                        <p>
                            Live Project-based studio work forms the core of activity for the first three terms of the MA City Design Programme,
                            with complementary technical, historical, theoretical and case study seminars occurring in parallel. Group work
                            is encouraged and considered an important introduction to the inherently collaborative process of city design.
                            In the fourth and final term, students will complete an Independent Research Project as an individual submission,
                            which will offer the opportunity to work on a detailed design proposal or thesis with support and feedback from
                            urban and city design practitioners.
                        </p>
                        <p> >> Shared units at Programme, School and College level encourage different scales of collaboration with related disciplines and across the College. </p>

                    </div>
                </div>
            </div>
            <!--/.Panel-->
            <!--Panel-->
            <div class="card card-body mb-3">
                <div class="media d-block d-md-flex">
                    <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                        <h4 id="list-item-3" class="font-weight-bold">City Design Staff</h4>
                        <p>
                            All of the College’s academic staff are practitioners in art, design or related disciplines. We also attract some of the most eminent artists, designers, intellectuals and business people working in their fields to give seminars, lectures, masterclasses, crits and individual tutorials.
                            Biographies and research profiles of programme staff can be found under Staff.
                        </p>
                        <p class="font-weight-bold">
                            Dean of School
                        </p>
                        <p>
                            >> Dr John Marbel
                        </p>
                        <p class="font-weight-bold">
                            Programme Leader
                        </p>
                        <p>
                            >> Dr Tarra Funny

                        </p>
                        <p class="font-weight-bold">
                            School-Wide Unit Staff
                        </p>
                        <p>
                            >> Media Studies: Harry Burns

                        </p>
                        <p class="font-weight-bold">
                            Critical & Historical Studies (CHS)
                        </p>
                        <p>
                            >> Dr Hanna Wasting

                        </p>
                        <p class="font-weight-bold">
                            External Examiner
                        </p>
                        <p>
                            >> Laura Sanin
                        </p>
                        <hr />

                    </div>
                
                </div>
            </div>
            <!--/.Panel-->
            <!--Panel-->
            <div class="card card-body">
                <div class="media d-block d-md-flex">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      
                        <h4 id="list-item-7" class="font-weight-bold">Tuition Fees</h4>
                        <a asp-controller="Courses" asp-action="Fees">Fees..</a>

                    </div>
                </div>
            </div>
            <div class="card card-body">
                <div class="media d-block d-md-flex">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      
                        <h4 id="list-item-5" class="font-weight-bold">Contact Us</h4>
                        <a asp-controller="Home" asp-action="Contact">Contacts..</a>

                    </div>
                </div>
            </div>
            <!--/.Panel-->

        </div>
        <!-- Grid column -->
        <div class="col-md-10 col-lg-9 col-xl-6">

            <!--Panel-->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                        <div class="media-body ml-md-3 ml-0">
                            <h4 id="list-item-4" class="font-weight-bold">Facilities</h4>
                            <h5>School of Architecture</h5>
                            <p>
                                The School of Architecture is located across both the CCA's historic Kensington site and London's newest cultural and research culture in White City.
                                The School of Architecture studios are the heart of day-to-day activity for the programmes and are purpose-designed for inspiration and
                                interaction between students of different design disciplines. As well as an individual studio space, students have access to traditional
                                3D-making facilities, contemporary digital fabrication equipment and a suite of bookable project and making spaces.
                            </p>
                            <h4 id="list-item-5" class="font-weight-bold">School of Architecture</h4>
                            <a asp-controller="Courses" asp-action="Architecture">Read more..</a>

                        </div>
                    </div>
                    <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                        <div class="media-body ml-md-3 ml-0">
                            <h4 id="list-item-8" class="font-weight-bold">Apply</h4>
                            <p>
                                Online Applications
                                All applications are to be submitted via the CCA Online Applications website. 
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <h4 id="list-item-6" class="font-weight-bold">Funding, Scholarships & Bursaries</h4>
                    <h5>>> Explore your funding options</h5>
                    <p>
                        The Culture College of Art is able to run a number of scholarship and bursary schemes thanks to the generosity of our donors.
                        In this section you can find information about our schemes and how to be considered for them.
                        There are also Government funded options for both our Master's degrees and for our doctoral research
                        Programmes (for UK and currently EU students). This funding is provided via the Student Loan Company and details
                        can be found in the tabs below.
                    </p>
                    <hr/>
                    <div class="media d-block d-md-flex">
                        <div class="media-body mr-md-3 mr-0">
                            <h4 id="list-item-2" class="font-weight-bold">Entrance Requirements</h4>

                            <p>
                                Candidates for all MA programmes are assessed on their existing qualities as demonstrated in their work and in their interview,
                                as well as on their potential to benefit from the programme and to achieve MA standards overall. The assessment will consider:
                                creativity, imagination and innovation evident in the work; ability to articulate the intentions of the work; intellectual engagement
                                in relevant areas; appropriate technical skills; overall interview performance, including oral use of English.
                            </p>
                            <p>
                                Prospective candidates are likely to be students of architecture with a three+two-year Bachelor and Master’s
                                degree, or Master’s-equivalent five-year Diploma preferably in Architecture, Landscape Architecture, Urban Design
                                or other related design discipline looking to acquire expertise in large scale, urban/city design projects.
                            </p>
                          
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Panel-->

        </div>
        <!-- Grid column -->

    </div>


    <hr />

    <img src="~/images/CityDesign-Chicago-Aerial-HERO-2048x1100.jpg" width="1110" />
</main>
