@model CCA.ViewModels.Home.LoggedInViewModel
@{
    ViewData["Title"] = "Courses";
}

<main class="mt-3 mb-5">
    
    @if (Model.Courses.Count > 0)
    {
        <div class="container-fluid product-holder">
            @{
                int rows = (Model.Courses.Count / 5);
            }
            @if (Model.Courses.Count % 5 != 0)
            {
                rows++;
            }

            @for (int row = 0; row < rows; row++)
            {
                <div class="row d-flex justify-content-around mb-4">
                    @for (int col = 0; col < 5; col++)
                    {
                        int currentIndex = col + (row * 5);
                        if (Model.Courses.Count == currentIndex)
                        {
                            break;
                        }
                        @await Html.PartialAsync("_CoursesPartial", Model.Courses.ToList()[currentIndex])
                    }
                </div>
            }
        </div>
    }
    else
    {
        <p>No courses in the database!</p>
    }
</main>

