
@{
    ViewData["Title"] = "Fees";
}

<h2>Fees & Funding </h2>
<h3>
    Find out about fees, bursaries, support and potential funding sources.
</h3>
<img src="~/images/RCA_4-15_768.focus-none.width-750.jpg" width="1100" height="600" />
<hr />

<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6 mb-r">

        <!--Panel-->
        <div class="card card-body mb-3">
            <div class="media d-block d-md-flex">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h3>
                        EU Students
                    </h3>
                    <p>
                        >> The UK Government has confirmed that EU students applying to English universities in autumn 2019 will
                        continue to benefit from the current system of postgraduate loans and pay the same fees as UK students,
                        for the duration of their programme.
                        EU nationals will also remain eligible to apply for Research Council PhD studentships at UK institutions
                        for 2018 to 2019 to help cover costs for the duration of their study.
                        For more information, including frequently asked questions following the results of the UK Referendum
                        held in June 2016, see EU Students.
                    </p>
                </div>
            </div>
        </div>
        <!--/.Panel-->
        <!--Panel-->
        <div class="card card-body mb-3">
            <div class="media d-block d-md-flex">
                <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                    <p>
                        >> The CCA is a small, entirely postgraduate institution set in the very centre of London that operates with
                        high staffing levels, and we do everything we can to ensure that individual students have access to the 
                        academic guidance and pastoral support, equipment, materials and facilities they need to achieve their aims.
                        Our particular situation and educational ethos means the actual cost of the educational experience we provide 
                        is high by comparison with many other UK institutions. 
                    </p>
                </div>
            </div>
        </div>
        <!--/.Panel-->
       

    </div>
    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6">

        <!--Panel-->
        <div class="card mb-3">
            <div class="card-body">
                <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                    <div class="media-body ml-md-3 ml-0">
                        <p align="justify">
                            >> We also firmly believe that a true MA experience, which allows students the space and time to develop as
                            reflective practitioners, and which genuinely prepares them to succeed in their chosen discipline, is a
                            two-year experience, whereas many other institutions offer MAs after only one year.
                            These factors mean it is essential for students to think very carefully about the financial implications
                            for themselves, and often their families, before applying for a place at the College. 
                            A degree from the RCA is highly valued in all the professional worlds our students move into, and we offer
                            an experience that we believe is real value for money. But studying here is a serious financial investment,
                            so please ensure that you have adequate funding in place.
                        </p>
                    </div>
                </div>

                <div class="media d-block d-md-flex">
                    <div class="media-body mr-md-3 mr-0">
                        <p align="justify">
                            >> The HEFCE guide Steps to Postgraduate Study provides information
                            and resources for prospective UK, European Union and international 
                            students considering taught postgraduate courses. It highlights questions 
                            that students may wish to ask themselves and course providers about their 
                            study options, and provides links to where they may find answers.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->

</div>