@using Microsoft.AspNetCore.Identity

@inject SignInManager<CCAUser> SignInManager
@inject UserManager<CCAUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCA</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Culture College Of Art</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Courses" asp-action="Create">Create Courses</a>
                    </li>
                 

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Courses" asp-action="AllCourses">Courses</a>
                    </li>
                }
             
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">Degree Programmes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Courses" asp-action="ArtAndDesign">Art & Design</a>
                        <a class="dropdown-item" asp-controller="Courses" asp-action="Architecture">Architecture</a>
                        <a class="dropdown-item" asp-controller="Courses" asp-action="CeramicsAndGlass">Ceramics & Glass </a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Courses" asp-action="CityDesign">City Design...</a>
                    </div>
                </li>
            </ul>

        </div>

        <div class="mx-auto order-0">
            <a class="fa fa-graduation-cap" id="logoItem" asp-controller="Home" asp-action="Index"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">

                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div id="wrapper" >
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a asp-controller="Home" asp-action="Index">CCA</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="About">About</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
             
                <li>
               
                       
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Courses" asp-action="Create">Create Courses</a>
                        <a class="nav-link" asp-controller="Courses" asp-action="AllCourses">- All Courses</a>
                    }
                    else
                    {
                        <a asp-controller="Courses" asp-action="AllCourses">Courses</a>
                    }
                </li>

                <li>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Users" asp-action="AllUsers">All Users</a>

                    }
                    else
                    {

                    }
                </li>
                <li>
                
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Student" asp-action="CreateStudent">Create Student</a>
                        <a class="nav-link" asp-controller="Student" asp-action="AllStudents">- All Students</a>

                    }
                    else
                    {
                        <a asp-controller="Student" asp-action="AllStudentsUserView">All Students</a>
                    }
                    
                </li>
                <li>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Professors" asp-action="CreateProfessor">Create Professor</a>
                        <a class="nav-link" asp-controller="Professors" asp-action="AllProfessors">- All Professors</a>

                    }
                    else
                    {
                        <a asp-controller="Professors" asp-action="AllProfessorsUserView">Professors</a>
                    }

                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->

        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">></a>

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <partial name="_CookieConsentPartial" />
    <partial name="_LoginPartial" />


    @*container-fluid - full-width container*@
    <div class="container body-content">
        @RenderBody()


        @*<footer>
            <p1>&copy; 2018 - CCA</p1>
            <div id="footer">Footer</div>
        </footer>*@

        <hr>

    <!-- Section: Features v.1 -->
    <section class="text-center my-5">

   
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="far fa-lightbulb fa-3x"></i>
                <h5 class="font-weight-bold my-4">Inspiration</h5>
                <p class="grey-text mb-md-0 mb-5">
                    If you believe in yourself and have dedication and pride - and never quit,
                    you'll be a winner. The price of victory is high but so are the rewards.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
                <i class="fas fa-check fa-3x"></i>
                <h5 class="font-weight-bold my-4">Success</h5>
                <p class="grey-text mb-md-0 mb-5">
                    Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all,
                    love of what you are doing or learning to do.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
                <i class="far fa-smile fa-3x"></i>
                <h5 class="font-weight-bold my-4">Support</h5>
                <p class="grey-text mb-0">
                    Choose to focus your time, energy and conversation around people who inspire you,
                    support you and help you to grow you into your happiest, strongest, wisest self.
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Features v.1 -->
    
    <hr />
        

        <!-- Footer -->
            <footer class="page-footer font-small stylish-color-dark pt-4 fixed" id="footer">

                <!-- Footer Links -->
                <div class="container text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-4 mx-auto">
                            <div class="row">
                                <i class="fas fa-graduation-cap"></i>

                            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Culture College Of Art</h5>
                            </div>

                            <!-- Content -->

                            <p4>
                               Use your imagination and create!
                            </p4>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-2 mx-auto">

                            <!-- Links -->
                            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Degree Programmes </h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!">Link 2</a>
                                </li>
                             
                            </ul>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-2 mx-auto">

                            <!-- Links -->
                            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#!">Link 2</a>
                                </li>
                             
                            </ul>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-2 mx-auto">

                            <!-- Links -->
                            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Studing at the CCA</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!">Link 2</a>
                                </li>
                              
                            </ul>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <hr>

                <!-- Call to action -->
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <h5 class="mb-1 fa-1x">Register for free</h5>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-danger btn-rounded fa-1x" asp-controller="Account" asp-action="Register">Sign up!</a>
                    </li>
                </ul>
                <!-- Call to action -->

                <hr>


                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-2 fa-2x">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-2 fa-2x">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-2 fa-2x">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-2 fa-2x">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>

                </ul>
                <!-- Social buttons -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    © 2018-CCA
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->


        </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
