@model CCA.ViewModels.Professors.ProfessorIndexDto
@{
    ViewData["Title"] = "_ProfessorsPartial";
}

<a asp-controller="Professors" asp-action="Details" asp-route-id="@Model.Id" class="col-md-2">
    <div class="product p-1 chushka-bg-color rounded-top rounded-bottom">
        <h5 class="text-center mt-3">@Model.FullName</h5>
    </div>
</a>
@if (User.IsInRole("Admin"))
{
    <a asp-controller="Users" asp-action="DeleteUser" asp-route-id="@Model.Id" class="card-link">Delete</a>

}
else
{
    <a asp-controller="Users" asp-action="AllUsers" asp-route-id="@Model.Id" class="card-link">All Users</a>

}