@model CCA.ViewModels.Students.StudentIndexDto
@{
    ViewData["Title"] = "_StudentsPartial";
}
<a asp-controller="Student" asp-action="DetailsStudent" asp-route-id="@Model.Id" class="col-md-2">
    <div class="product p-1 chushka-bg-color rounded-top rounded-bottom">
        <h5 class="text-center mt-3">@Model.FullName</h5>       
    </div>
</a>