@model CCA.ViewModels.Users.AllUsersDto
@{
    ViewData["Title"] = "_UsersPartial";
}

<h2>_UsersPartial</h2>

<a asp-controller="Users" asp-action="AllUsers" asp-route-id="@Model.Id" class="col-md-2">
    <div class="product p-1 chushka-bg-color rounded-top rounded-bottom">
        <h5 class="text-center mt-3">@Model.Username</h5>
    </div>
</a>