
@{
    ViewData["Title"] = "Education";
}

<!-- Section heading -->
<h2 class="far fa-arrow-alt-circle-right h1-responsive font-weight-bold my-5">Motivated functions of Art</h2>
<!-- Section description -->
<p class="grey-text w-responsive mx-auto mb-5">
    Motivated purposes of art refer to intentional, conscious actions on the part of the artists or creator.
    These may be to bring about political change, to comment on an aspect of society, to convey a specific emotion or mood,
    to address personal psychology,to illustrate another discipline, to (with commercial arts) sell a product,
    or simply as a form of communication.
    <a class="btn btn-success btn-rounded btn-md" href="https://en.wikipedia.org/wiki/Art#Purpose"> View more</a>
</p>

<!-- Grid row -->
<div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-md-6 col-xl-5 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample project image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Excerpt-->
        <div class="card-body">
            <a href="https://en.wikipedia.org/wiki/Art#Motivated_functions" class="green-text">
                <h5 class="font-weight-bold mt-2 mb-3"><i class="fas fa-volume-up"></i> Communication.</h5>
            </a>
            <h4 class="font-weight-bold mb-3">[Art is a set of]</h4>
            <p>
                Art, at its simplest, is a form of communication. As most forms of communication have an intent or goal directed toward
                another individual, this is a motivated purpose. Illustrative arts, such as scientific illustration, are a
                form of art as communication. Maps are another example.
                However, the content need not be scientific. Emotions, moods and feelings
                are also communicated through art.
            </p>
        </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-xl-5 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/19.jpg" class="img-fluid" alt="Sample project image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Excerpt-->
        <div class="card-body">
            <a href="https://en.wikipedia.org/wiki/Art#Motivated_functions" class="blue-text">
                <h5 class="font-weight-bold mt-2 mb-3"><i class="fa fa fa-eye pr-2"></i>Art as entertainment.</h5>
            </a>
            <h4 class="font-weight-bold mb-3">[Art is a set of]</h4>
            <p>
                Art may seek to bring about a particular emotion or mood, for the purpose of relaxing or entertaining the viewer.
                This is often the function of the art industries of Motion Pictures and Video Games.
            </p>
        </div>
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
<!-- Grid row -->
<div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-md-6 col-xl-5 mb-md-0 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="Sample project image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-md-0">
            <a href="https://en.wikipedia.org/wiki/Art#Motivated_functions" class="brown-text">
                <h5 class="font-weight-bold mt-2 mb-3"><i class="far fa-arrow-alt-circle-right"></i> The Avante-Garde. Art for political change.</h5>
            </a>
            <h4 class="font-weight-bold mb-3">[Art is a set of]</h4>
            <p>
                One of the defining functions of early twentieth-century art has been to use visual images to bring about political change.
                Art movements that had this goal—Dadaism, Surrealism, Russian constructivism, and Abstract Expressionism,
                among others—are collectively referred to as the avante-garde arts.
            </p>
        </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6 col-xl-5">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid"
                 alt="Sample project image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
            <a href="https://en.wikipedia.org/wiki/Art#Motivated_functions" class="cyan-text">
                <h5 class="font-weight-bold mt-2 mb-3"><i class="fas fa-assistive-listening-systems"></i> Art for propaganda, or commercialism.</h5>
            </a>
            <h4 class="font-weight-bold mb-3">[Art is a set of]</h4>
            <p>
                Art is often utilized as a form of propaganda, and thus can be used to subtly influence popular conceptions or mood.
                In a similar way, art that tries to sell a product also influences mood and emotion. In both cases, the purpose of art
                here is to subtly manipulate the viewer into a particular emotional or psychological response toward a particular idea or object.
            </p>
        </div>
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
<div>

    <h2 class="far fa-arrow-alt-circle-right h1-responsive font-weight-bold my-5"> Art for psychological and healing purposes. </h2>
    <p class="grey-text w-responsive mx-auto mb-5">
        Art is also used by art therapists, psychotherapists and clinical psychologists as art therapy.
        The Diagnostic Drawing Series, for example, is used to determine the personality and emotional functioning of a patient.
        The end product is not the principal goal in this case, but rather a process of healing, through creative acts, is sought.
        The resultant piece of artwork may also offer insight into the troubles experienced by the subject and may suggest
        suitable approaches to be used in more conventional forms of psychiatric therapy.
    </p>
    
    <h2 class="far fa-arrow-alt-circle-right h1-responsive font-weight-bold my-5"> Art as a fitness indicator. </h2>
    <p class="grey-text w-responsive mx-auto mb-5">
        It has been argued that the ability of the human brain by far exceeds what was needed for survival in
        the ancestral environment. One evolutionary psychology explanation for this is that the human brain and associated 
        traits (such as artistic ability and creativity) are the human equivalent of the peacock's tail. The purpose of the
        male peacock's extravagant tail has been argued to be to attract females (see also Fisherian runaway and handicap 
        principle). According to this theory superior execution of art was evolutionary important because it attracted mates.
    </p>
</div>
