@model Enrollment
@{
    ViewData["Title"] = "Enrollment";
}

<main>
    <h2 class="text-center">Apply </h2>
    <h4 class="text-center">Admissions & Application Guidance</h4>
    <img src="~/images/apply.jpg" width="1110"/>
    <hr />
    <h5>Applications for 2019 entry are now open for all programmes.</h5>
    <p>
        The Culture College of Art welcomes applications from all over the world. If you are considering applying to the College
        for 2019/20, you can prepare for your application by researching the academic programmes offered by each of the Schools,
        accessing the Application Process page and information under Fees & Funding.
    </p>

    <div class="card card-body mb-3">
        <div class="media d-block d-md-flex">

            <img src="~/images/01-icons-apply.png" />

            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <p>
                    See Application Process for a full schedule of key application dates. If you are considering applying to the
                    College, you can prepare for your application by researching the Programme and accessing the Admissions Support information.
                    Please make sure you read the guidance before you fill in your application.

                    You can apply online for 2019 entry, all programmes welcome enquiries regarding Graduate Diploma, MA, MRes, MPhil
                    and PhD study throughout the year.

                    The criteria for acceptance are talent and potential, along with the commitment and the ambition to make a difference within an art or design discipline.
                    In this section, you will find details about what is required to make an MA or Research application to the College, along with dates and
                    deadlines and information about entry requirements.
                    All programmes welcome enquiries regarding MA, MRes, MPhil and PhD study throughout the year.

                    Our Equal Opportunities Policy is published online.
                </p>
            </div>
        </div>
    </div>
    <a asp-controller="Home" asp-action="Contact">Contact us!</a>
</main>


