@{
    ViewData["Title"] = "Home Page";
    ViewData["Quote"] = "The purpose of Art is washing the dust of daily life off our souls...";
}
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link rel="stylesheet" href="~/css/Index.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<main>
    <div class="loginLogout" id="form">
        <h1>Welcome to Culture College Of Art...</h1>

        <hr class="bg-white" />
        <h3><a asp-controller="Account" asp-action="Login" class="nav-link-dark">Login</a> if you have an account.</h3>
        <h3><a asp-controller="Account" asp-action="Register" class="nav-link-dark">Register</a> if you don't.</h3>
        <hr class="bg-white" />

        <section>
            <img class="mySlides" id="headingImage" src="~/images/Top-Abstract-Art-Wallpaper-.jpg" style="width:100%" />
            <img class="mySlides" src="~/images/345445-admin.jpg" style="width:100%" />
            <img class="mySlides" src="~/images/Portrait-Digital-Art-wallpaper-wi42.jpg" style="width:100%" />
            <img class="mySlides" src="~/images/f86cded7da874cd73b0a176c9d467384432d9b86.jpg" style="width:100%" />
        </section>
        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 3000);
            }
        </script>
      
    </div>

</main>