<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCA</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>
<body>
<h1>Programme Welcome</h1>
<h3> Graduate Diploma Art & Design</h3>
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-12 mb-3">
        <img src="~/images/digital-art-women-double-exposure-face-wallpaper.jpg" width="1100"/>
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
        <img src="~/images/94e5c8f8a38382c6750f26a2467ad670--bright-art-lonely-heart.jpg" width="400" height="423"/>
    </div>
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-3">
        <img src="~/images/86e0d047aed0370a51b62477b2dad4f3.jpg" id="image3" width="423"/>
    </div>
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-3">
        <img src="~/images/cbd5fcef9b4113af76555361f8d21bbe.jpg" width="334" height="423"/>
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-6 mb-3">
        <img src="~/images/famous-abstract-watercolor-artists-most-famous-abstract-art-paintings-in-the-world-paintings.jpg" width="550"/>

    </div>
    <!-- Grid column -->
    <div class="col-md-6 mb-3">
        <img src="~/images/watercolor-paintings-ideas-famous-watercolor-painting-ideas-which-famous-painting-are-you-paintings-and-watercolor-artists-watercolor-pai.jpg" width="526" height="369"/>

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
<hr/>
<!--Grid row-->
<div class="row">

    <!--Grid column-->

    <div class="col-md-8">

        <!--Spied element-->
        <div class="scrollspy-example
z-depth-1 text-center p-0" data-spy="scroll" data-target="#mdb-scrollspy-ex"
             data-offset="0">


            <section id="section1" class="blue lighten-4">

                <h3>

                    <strong>News and Events</strong>
                </h3>
                <p>
                    Established in 1994, CCAs Secret is London’s original postcard exhibition.
                    Each year it offers an opportunity for budding collectors, art and design
                    fans to add to their collections.
                </p>
                <hr>
                <section id="subsection1A" class=" m-4 red lighten-4">
                    <h4>
                        Hidden Talents
                    </h4>
                    <p>
                        From jewellery and textile design, sculpture and performance to floristry
                        and interactive photographic work, this exhibition brings to the fore talent and
                        technical skills that are often hidden from those outside the College.
                    </p>
                </section>

                <hr>
                <section id="subsection1B" class=" m-4 green lighten-4">
                    <h4>

                        Life-changing Inventions
                    </h4>
                    <p>
                        Twelve innovative projects by Culture College of Art graduates addressing
                        contemporary global challenges and technologies will be among 150 life-changing inventions.
                        The CCA projects were chosen from more than 1,000 entries and will be shown alongside
                        work from 100 global universities, including Harvard and MIT and institutions from around the world.
                    </p>
                </section>
                <hr>

            </section>



        </div>
        <!--/.Spied element-->

    </div>
    <!--Grid column-->
    <div class="col-md-3 mb-4">

        <!--Scrollspy-->

        <div id="mdb-scrollspy-ex">

            <!-- Links -->
            <ul class="nav nav-pills
default-pills smooth-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="#section1">News & Events</a>
                    <ul class="nav ml-3">
                        <li class="nav-item">

                            <a class="nav-link" asp-controller="Home" asp-action="NextGenerationDesigners">>>Support the Next...</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="HiddenTalentsNews">
                                >>‘Hidden’ Talents...
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="LifeChangingNews">>>Life-changing...</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#section1">Events </a>

                    <ul class="nav ml-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                               aria-expanded="false">Upcoming events</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#navbar-example2-one">Have fun..</a>
                                <div class="column">
                                    <iframe width="200" height="200"
                                            src="https://www.youtube.com/embed/8CsS2PmjoNE?autoplay=1"></iframe>
                                </div>
                                <a class="dropdown-item" href="#navbar-example2-two">What is...</a>
                                <div class="column">
                                    <iframe width="200" height="200"
                                            src="https://www.youtube.com/embed/fTrTixSNdlE?autoplay=1"></iframe>
                                </div>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#navbar-example2-three">Beginning Graphic... </a>
                                <div class="column">
                                    <iframe width="200" height="200"
                                            src="https://www.youtube.com/embed/YqQx75OPRa0?autoplay=1"></iframe>
                                </div>
                            </div>
                            <img src="~/images/arts.jpg" width="200" height="135"/>
                        </li>


                    </ul>
                </li>
            </ul>
            <!-- Links
            -->

        </div>
        <!--Scrollspy-->

    </div>
    <!--Grid
    column-->

</div>
<!--Grid row-->

<div class="row">
    <div class="col-sm-4 col-lg-3">
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column mt-4">
            <a class="navbar-brand" href="#">Degree Programmes</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active" asp-controller="Courses" asp-action="ArtAndDesign">Art & Design</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ml-3 my-1" asp-controller="Courses" asp-action="Architecture">Architecture</a>
                </nav>
                <a class="nav-link" asp-controller="Courses" asp-action="CityDesign">City Design</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ml-3 my-1" asp-controller="Courses" asp-action="CeramicsAndGlass">Ceramics and Glass</a>
                    <img src="~/images/abstract-art-artistic-935785.jpg" width="250" />
                </nav>
            </nav>
        </nav>
    </div>

    <div class="col-sm-8 col-lg-9">
        <div data-spy="scroll" class="scrollspy-example z-depth-1 mt-4" data-target="#navbar-example3" data-offset="0">
            <img src="~/images/umbrella-2412363_960_720.jpg" width="500"/>
            <img src="~/images/LPA159.jpg" width="320"/>

            <p>
                Year after year, the CCA has proved the importance of bringing together designers, sculptors, engineers,
                historians and scientists, to invent and innovate products and services that have created jobs, contributed
                to the economy and improved the quality of people’s lives.
                Sixty per cent of what we teach today has been part of our curriculum since 1968. In our digital age,
                many universities are abandoning traditional subjects, tools and making. We believe that students at the
                Culture College of Art need to experience both the most ancient and progressive of creative practices.
            </p>
        </div>
    </div>
</div>
<hr/>
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6 mb-r">

        <!--Panel-->
        <div class="card card-body mb-3">
            <div class="media d-block d-md-flex">
                <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (31)-mini.jpg"
                     alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <p>
                        "The CCA is driven by passion. A place to experiment, push boundaries, 
                        to realise your dreams… with unforgettable people all living life to the full; believing 
                        everything hasn’t been done before." 
                    </p>
                    <p1 class="font-weight-bold">Anna M.</p1>
                </div>
            </div>
        </div>
        <!--/.Panel-->
        <!--Panel-->
        <div class="card card-body mb-3">
            <div class="media d-block d-md-flex">
                <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                    <p>
                        "My time at the CCA was inspirational from the outset and this was down to 
                        three tutors whose creativity gave me energy, enabling me to be free and excited about design." 
                    </p>
                    <p1 class="font-weight-bold">John G.</p1>

                </div>
                <img class="d-flex mr-3 avatar-2 mt-md-0 mt-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (27)-mini.jpg"
                     alt="Generic placeholder image">
            </div>
        </div>
        <!--/.Panel-->
        <!--Panel-->
        <div class="card card-body">
            <div class="media d-block d-md-flex">
                <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (28)-mini.jpg"
                     alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <p>
                        "The CCA ultimately made me critique my own work at a much higher level.
                        There is no where else I know that has such diverse creative talent, so closely packed
                        and with such interesting people passing through as the CCA."
                    </p>
                    <p1 class="font-weight-bold">Jane K.</p1>

                </div>
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6">

        <!--Panel-->
        <div class="card mb-3">
            <h3 class="card-header indigo white-text text-uppercase text-center">Authors</h3>
            <div class="card-body">
                <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                    <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (3)-mini.jpg"
                         alt="Generic placeholder image">
                    <div class="media-body ml-md-3 ml-0">
                        <p align="justify">
                            "I've always said the best thing about the Culture College of Art was receiving that 
                            letter saying that I got in, and after that it went downhill... But, of course, that's not true. 
                            Twenty-two years on from receiving that letter I look back at my time there and realise how lucky and
                            how honoured I was to get a place." 
                        </p>
                        <div class="text-center text-md-left">
                            <p1 class="font-weight-bold">Wayne C.</p1>
                        </div>
                    </div>
                </div>

                <div class="media d-block d-md-flex">
                    <div class="media-body mr-md-3 mr-0">
                        <p align="justify">
                            "The Culture College provided me with the time, space, means and encouragement to be 
                            creative, and more ‘chips and beans’ than was probably appropriate" 
                        </p>
                        <div class="text-center text-md-left">
                            <p1 class="font-weight-bold">Karla D.</p1>
                        </div>
                    </div>
                    <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (2)-mini.jpg"
                         alt="Generic placeholder image">
                </div>
            </div>
        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->

</body>
</html>