<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCA</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>
<body>
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3">
            <img src="~/images/digital-art-women-double-exposure-face-wallpaper.jpg" width="1100" />
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">
            <img src="~/images/94e5c8f8a38382c6750f26a2467ad670--bright-art-lonely-heart.jpg" width="400" height="423" />
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">
            <img src="~/images/86e0d047aed0370a51b62477b2dad4f3.jpg" id="image3" width="423" />
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-3">
            <img src="~/images/cbd5fcef9b4113af76555361f8d21bbe.jpg" width="334" height="423" />
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mb-3">
            <img src="~/images/famous-abstract-watercolor-artists-most-famous-abstract-art-paintings-in-the-world-paintings.jpg" width="550" />

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6 mb-3">
            <img src="~/images/watercolor-paintings-ideas-famous-watercolor-painting-ideas-which-famous-painting-are-you-paintings-and-watercolor-artists-watercolor-pai.jpg" width="526" height="369" />

        </div>
        <!-- Grid column -->

    </div>
<!-- Grid row -->
<hr />
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->

        <div class="col-md-8">

            <!--Spied element-->
            <div class="scrollspy-example
z-depth-1 text-center p-0" data-spy="scroll" data-target="#mdb-scrollspy-ex"
                 data-offset="0">


                <section id="section1" class="blue lighten-4">

                    <h3>

                        <strong>News and Events</strong>
                    </h3>
                    <p>
                        Established in 1994, CCAs Secret is London’s original postcard exhibition. 
                        Each year it offers an opportunity for budding collectors, art and design 
                        fans to add to their collections. 
                    </p>
                    <hr>
                    <section id="subsection1A" class=" m-4 red lighten-4">
                        <h4>
                            Hidden Talents
                        </h4>
                        <p>
                            From jewellery and textile design, sculpture and performance to floristry 
                            and interactive photographic work, this exhibition brings to the fore talent and 
                            technical skills that are often hidden from those outside the College.
                        </p>
                    </section>

                    <hr>
                    <section id="subsection1B" class=" m-4 green lighten-4">
                        <h4>

                            Life-changing Inventions 
                        </h4>
                        <p>
                            Twelve innovative projects by Culture College of Art graduates addressing
                            contemporary global challenges and technologies will be among 150 life-changing inventions.
                            The CCA projects were chosen from more than 1,000 entries and will be shown alongside 
                            work from 100 global universities, including Harvard and MIT and institutions from around the world.
                        </p>
                    </section>
                    <hr>

                </section>



            </div>
            <!--/.Spied element-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 mb-4">

            <!--Scrollspy-->

            <div id="mdb-scrollspy-ex">

                <!-- Links -->
                <ul class="nav nav-pills
default-pills smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#section1">News & Events</a>
                        <ul class="nav ml-3">
                            <li class="nav-item">

                                <a class="nav-link" asp-controller="Home" asp-action="NextGenerationDesigners">>>Support the Next...</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="HiddenTalentsNews">
                                    >>‘Hidden’ Talents...
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#subsection1C">>>Life-changing...</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#section1">Section 2</a>

                        <ul class="nav ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="#subsection2A">Subsection 2A</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="#subsection2B">Subsection 2B</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#subsection2C">
                                    Subsection
                                    2C
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Links
                -->

            </div>
            <!--Scrollspy-->

        </div>
        <!--Grid
        column-->

    </div>
    <!--Grid row-->








    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column mt-4">
                <a class="navbar-brand" href="#">Navbar</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link active" href="#item-1">Item 1</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
                        <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
                    </nav>
                    <a class="nav-link" href="#item-2">Item2</a>
                    <a class="nav-link" href="#item-3">Item3</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
                        <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
                    </nav>
                </nav>
            </nav>
        </div>

        <div class="col-sm-8 col-lg-9">
            <div data-spy="scroll" class="scrollspy-example z-depth-1 mt-4" data-target="#navbar-example3" data-offset="0">
                <img src="~/images/umbrella-2412363_960_720.jpg" width="500" />
                <img src="~/images/LPA159.jpg" width="320" />

                <h5 id="item-1-2">Item 2-2</h5>
                <p>
                    Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                    qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                    mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                    qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                    Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
                </p>
            </div>
        </div>
    </div>
    <hr />
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-10 col-lg-9 col-xl-6 mb-r">

            <!--Panel-->
            <div class="card card-body mb-3">
                <div class="media d-block d-md-flex">
                    <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (31)-mini.jpg"
                         alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia magni dolores
                            eos qui ratione voluptatem sequi nesciunt.
                        </p>
                        <button type="button" class="btn btn-primary btn-md">Read more</button>
                    </div>
                </div>
            </div>
            <!--/.Panel-->
            <!--Panel-->
            <div class="card card-body mb-3">
                <div class="media d-block d-md-flex">
                    <div class="media-body pr-md-3 pr-0 text-center text-md-left">
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                            eligendi optio cumque nihil impedit.
                        </p>
                        <button type="button" class="btn btn-primary btn-md">Read more</button>
                    </div>
                    <img class="d-flex mr-3 avatar-2 mt-md-0 mt-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (27)-mini.jpg"
                         alt="Generic placeholder image">
                </div>
            </div>
            <!--/.Panel-->
            <!--Panel-->
            <div class="card card-body">
                <div class="media d-block d-md-flex">
                    <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (28)-mini.jpg"
                         alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                            placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Itaque earum rerum
                            hic tenetur a sapiente delectus.
                        </p>
                    </div>
                </div>
            </div>
            <!--/.Panel-->

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-10 col-lg-9 col-xl-6">

            <!--Panel-->
            <div class="card mb-3">
                <h3 class="card-header indigo white-text text-uppercase text-center">Authors</h3>
                <div class="card-body">
                    <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
                        <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (3)-mini.jpg"
                             alt="Generic placeholder image">
                        <div class="media-body ml-md-3 ml-0">
                            <p align="justify">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                                provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                                fuga.
                            </p>
                            <div class="text-center text-md-left">
                                <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
                            </div>
                        </div>
                    </div>

                    <div class="media d-block d-md-flex">
                        <div class="media-body mr-md-3 mr-0">
                            <p align="justify">
                                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                                voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.
                            </p>
                            <div class="text-center text-md-left">
                                <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
                            </div>
                        </div>
                        <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (2)-mini.jpg"
                             alt="Generic placeholder image">
                    </div>
                </div>
            </div>
            <!--/.Panel-->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>

</body>
</html>