
@{
    ViewData["Title"] = "NextGenerationDesigners";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Designers.css" />
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

</head>
<body>
    <h1 class="align-content-center font-weight-bold">Support the Next Generation of Artists and Designers</h1>

    <hr />
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            <li data-target="#carousel-example-1z" data-slide-to="3"></li>
            <li data-target="#carousel-example-1z" data-slide-to="4"></li>
            <li data-target="#carousel-example-1z" data-slide-to="5"></li>

        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <img src="~/images/Rolston_ArtPeople_RalphPucci.jpg" width="1100" height="550" />

            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <img src="~/images/413.jpg" width="1100" height="550" />
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
                <img src="~/images/43f693cd104e723882c83d3b34b0a5ca.jpg" width="1100" height="550" />
            </div>
            <!--/Third slide-->
            <!--Forth slide-->
            <div class="carousel-item">
                <img src="~/images/A-158858.jpg" width="1100" height="550" />
            </div>
            <!--Fifth slide-->
            <div class="carousel-item">
                <img src="~/images/00-social-lorde-album-art.jpg" width="1100" height="550" />

            </div>
            <!--Sixth slide-->
            <div class="carousel-item">
                <img src="~/images/sirona-gallery-692x360.jpg" width="1100" height="550" />
            </div>

        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
    <!--/.Content-->

    <p class="text-black-50">
        The CCA’s annual anonymous postcard exhibition and fundraising sale, Stewarts CCA Secret, has finally arrived.
        From 12-15 of December over 2.500 postcard-sized artworks will be displayed in the College’s Senior Common Room in London.
        Each postcard will be available for a £25 donation to the CCA Fund, offering members of the public the opportunity to treat
        themselves, or find a very unique Christmas present for someone special, with a gift that also supports the next generation
        of art and design talent.
    </p>
    <p>
        Established in 1994, CCAs Secret is London’s original postcard exhibition. Each year it offers an opportunity
        for budding collectors, art and design fans to add to their collections. Unique artworks by some of
        the world’s most celebrated artists, illustrators and designers, as well as up-and-coming graduates and students from the
        College are available. The only catch is that the identity of the creators is a closely guarded secret, revealed only once
        a £25 donation is made.
    </p>
<p class="text-black-50">
    Every contribution to CCAs Secret is an original artwork, produced with the same rigour as any other work 
    by the maker. Although restricted to being postcard sized, the subject matter and approaches vary widely, 
    from photography and collage, to drawing, painting, and even sculpture and embroidery.
</p>
<p>All proceeds go to the CCA Fund, which supports the next generation of CCA students at a formative time in their careers. 
    The CCA Fund ensures that the best students can access an CCA education regardless of their background or financial
    circumstances. It focuses on the greatest area of need at the College, providing a long term, sustainable source of
    income that is used to support a range of projects benefiting students. By alleviating financial hardship, the fund
    allows students to fully engage with their course, improving the academic quality of the work produced and the reputation
    of the CCA.</p>
</body>
</html>